In [30]:
import pandas as pd
import numpy as np

In [31]:
df = pd.DataFrame(np.random.rand(10, 2) * 10, columns=['Price', 'Qty'])

In [32]:
df['City'] = [np.random.choice(('Chicago', 'Boston', 'New York')) for i in range(df.shape[0])]

In [33]:
df

      Price       Qty      City
0  6.225481  5.716618  New York
1  1.131167  6.297597   Chicago
2  2.538992  5.016772    Boston
3  5.622141  3.294433    Boston
4  7.739604  0.554239   Chicago
5  4.991203  4.917935   Chicago
6  0.898304  7.721118   Chicago
7  8.644638  4.647118   Chicago
8  4.737761  8.780549   Chicago
9  9.453818  2.781897  New York

In [34]:
dummies = pd.get_dummies(df['City'])

In [35]:
dummies

   Boston  Chicago  New York
0       0        0         1
1       0        1         0
2       1        0         0
3       1        0         0
4       0        1         0
5       0        1         0
6       0        1         0
7       0        1         0
8       0        1         0
9       0        0         1

In [36]:
df = df.drop('City', axis=1)

In [39]:
df = df.join(dummies)

In [40]:
df

      Price       Qty  Boston  Chicago  New York
0  6.225481  5.716618       0        0         1
1  1.131167  6.297597       0        1         0
2  2.538992  5.016772       1        0         0
3  5.622141  3.294433       1        0         0
4  7.739604  0.554239       0        1         0
5  4.991203  4.917935       0        1         0
6  0.898304  7.721118       0        1         0
7  8.644638  4.647118       0        1         0
8  4.737761  8.780549       0        1         0
9  9.453818  2.781897       0        0         1